{% extends 'base.html' %}

{% block title %} {{ blog.title }} {% endblock %}

{% block content %}
    <h1>{{ blog.title }} page</h1>
    <hr>
    <h2>{{ blog.title }}</h2>
    <p><a href="#">{{ blog.category.name }}</a>
        Sana: {{ blog.created | date:'Y-m-d // h:i' }}</p>
    <img style="width: 400px;" src="{{ blog.image.url }}" alt="Bu rasm">
    <p>{{ blog.description|safe }}</p>
    <p>User: {{ blog.user.username }}</p>
    <p>Ko'rishlar soni: {{ blog.views }}</p>
    {% for tag in blog.tags.all %}
        <a href="{% url 'tag_blog' tag.slug %}">#{{ tag.name }} </a>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="product col-lg-6">
            {% for comment in blog.comment.all %}
                <p>User: {{ comment.user.username }}</p>
                <p>Date: {{ comment.created }}</p>
                <p> {{ comment.text }}</p>

                <hr>
            {% endfor %}
        </div>
        <div class="col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <div class="input-rating">
                        <strong class="text-uppercase">Your Rating: </strong>
                        <div class="stars">
                            <input type="radio" id="star5" name="rating" value="5"/><label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4"/><label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3"/><label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2"/><label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1"/><label for="star1"></label>
                        </div>
                    </div>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

{% endblock %}
